.Headerbar {
    min-width: 100%;
    max-width: 100vw;
    height: 70px;
    border-bottom: rgb(224, 224, 224) 1px solid;
}

.HeaderContents{
    width: 1920px;
    display: flex;
    margin: 0 auto;
}

.Logo {
    width: 200px;
}
.Logo h1, .Menu h1{
    font-size: 25px;
}

.Middle{
    width: 1240px;
}

.Menu{
    width: 450px;
}