.Headerbar {
    min-height: 7vh;
    border-bottom: rgb(224, 224, 224) 1px solid;
}

.HeaderContents{
    max-width: 100vw;
    display: flex;
    margin: 0 auto;
}

.Logo {
    width: 200px;
}
.Logo img{
    min-height: 7vh;
    /* min-width: 7vw; */
    max-width: 35%;
}
.Menu h1{
    font-size: 25px;
}

.Middle{
    width: 1240px;
}

.Menu{
    width: 450px;
    display: flex;
}

.Items{
    border: 1px solid black;
    border-radius: 50%;
    width: 61px;
    height: 60px;
    font-size: 15px;
    text-align: center;
    margin: 0 0.2rem;
}