.Headerbar{
    height: 70px;
    border-bottom: black 1px solid;
}
.AljjamLogo{
    height: 100%;
}
.Menus{
    float: right;
    width: 540px;
    height: 100%;
    background-color: blue;
    border-left: black 1px solid;
}