.Main {
    min-width: 1920px;
    max-width: 100vw;
    height: 90vh;
}

.NonLogined{
    width: 1500px;
    height: 100%;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.NonLoginedContents{
    width: 100%;
    height: 718px;
    margin-top: 145px;
    border: 3px solid rgb(200, 200, 200);
    box-shadow: 10px 7px 6px rgb(224, 224, 224);
}
.ContentsBox{
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    box-sizing: border-box;
}
.Contents{
    width: 600px;
}
.LoginContents{
    height: 583px;
    margin-top: 100px;
    padding: 10px;
}
.LoginContents h1{
    font-size: 70px;
    margin: 1rem 0 1.5rem 0;
}
.InputBox, input[type=submit]{
    width: 380px;
    height: 50px;
}
.InputBox{
    border: 2px solid rgb(0, 0, 0);
    margin: 1rem 0;
}
.LoginForm input[type=text], .LoginForm input[type=password]{
    width: 360px;
    height: 45px;
    border: none;
    outline: none;
    font-size: 1.2rem;
}
input[type=submit]{
    font-size: 1.2rem;
}

.IconBox{
    width: 600px;
}
.Icon{
    height: 468px;
    border:3px solid yellow;
    margin: 135px 0;
    text-align: center;
}