.Onlogin{
    margin: 0 3vw;
    min-height: 78vh;
}
.MainTop{
    height: 10vw;
    max-height: 90px;
    display: flex;
}
.AddBtn{
    width: 10vw;
    max-width: 90px;
    border-radius: 50%;
    text-align: center;
    float: left;
    font-size: 1rem;
}
.DateView{
    border: black 1px solid;
    border-radius: 50px;
    width: 50vw;
    max-width: 690px;
    float: left;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.nowTime{
    display: table; 
    width: 100%; 
    height: 100%; 
    margin: 0 auto;
}
.nowTime span{
    display: table-cell; 
    text-align: center; 
    vertical-align: middle;
    font-size: 5vmin;
}
.MemoDeleteBorder{
    width: auto;
    min-width: 20vw;
    float: right;
}
.MemoDeleteBorder button{
    width: 10vw;
    height: 10vw;
    max-width: 90px;
    max-height: 90px;
    border-radius: 50%;
    text-align: center;
    float: right;
}
.MainBottom{
    width: 100%;
    display: grid;
    grid-column-gap: 3%;
    grid-template-columns: repeat(auto-fill, minmax(390px,1fr));
    grid-auto-rows: auto;
    grid-auto-flow: dense;
}
.Memo{
    border: black 1px solid;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 10%;
    display: flex;
    flex-flow: column;
}
.MemoDeleteButton{
    position: absolute;
    z-index: 1;
    transform: scale(3.0);
    border-radius: 50%;
}
.DataManagement{
    background-color: #837D7D;
    padding: 1vw;
    height: auto;
}
.DMTitleandBody{
    width: 100%;
    height: auto;
}
.DMTitle{
    font-size: 50px;
    color: white;
    font-weight: bold;
}
.DMBody{
    background-color: white;
    font-size: 30px;
    margin: 1vw 2vw;
}
.DMTime{
    background-color: red;
    margin: 1vw 2vw;
    font-size: 20px;
    border-radius: 10px;
}
.DMOption{
    margin: 1vw 2vw;
}
.alarmbutton{
    float: left;
    margin-right: 1vw;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    /* TODO:지속적인 관리 필요 대책 시급 항목이 많아지면 스크롤이 생길 수 있음 */
    min-width: 30px;
    min-height: 30px;
}
/* TODO: 메모가 많아지면 footerbar까지 overflow 되서 가려지는 현상이 발견함 */